In [84]:
# Import your libraries
import pandas as pd
import numpy as np

In [85]:
#facebook_web_log = pd.read_clipboard()
#facebook_web_log.to_csv('facebook_web_log.csv',index=False)
facebook_web_log = pd.read_csv('facebook_web_log.csv')
facebook_web_log.head()

   user_id            timestamp       action
0        0  2019-04-25 13:30:15    page_load
1        0  2019-04-25 13:30:18    page_load
2        0  2019-04-25 13:30:40  scroll_down
3        0  2019-04-25 13:30:45    scroll_up
4        0  2019-04-25 13:31:10  scroll_down

In [86]:
df = facebook_web_log.copy()

In [87]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

### Create dataframe grouping user ID and day for page load ( consider only the latest page load)

In [88]:
# make df of only page loads
df_load = df[df['action'] == 'page_load'].copy()

In [89]:
df_load

    user_id           timestamp     action
0         0 2019-04-25 13:30:15  page_load
1         0 2019-04-25 13:30:18  page_load
7         1 2019-04-25 13:40:00  page_load
14        2 2019-04-25 13:41:21  page_load
18        1 2019-04-26 11:15:00  page_load
23        0 2019-04-28 14:30:15  page_load
24        0 2019-04-28 14:30:10  page_load

In [90]:
# create 'day' column 
df_load['day'] = df_load['timestamp'].dt.date

In [91]:
df_load

    user_id           timestamp     action         day
0         0 2019-04-25 13:30:15  page_load  2019-04-25
1         0 2019-04-25 13:30:18  page_load  2019-04-25
7         1 2019-04-25 13:40:00  page_load  2019-04-25
14        2 2019-04-25 13:41:21  page_load  2019-04-25
18        1 2019-04-26 11:15:00  page_load  2019-04-26
23        0 2019-04-28 14:30:15  page_load  2019-04-28
24        0 2019-04-28 14:30:10  page_load  2019-04-28

In [92]:
# Group df by user ID and date with the latest page_laod
df_load = df_load.groupby(['user_id','day'], as_index = False).max()

In [93]:
df_load

   user_id         day           timestamp     action
0        0  2019-04-25 2019-04-25 13:30:18  page_load
1        0  2019-04-28 2019-04-28 14:30:15  page_load
2        1  2019-04-25 2019-04-25 13:40:00  page_load
3        1  2019-04-26 2019-04-26 11:15:00  page_load
4        2  2019-04-25 2019-04-25 13:41:21  page_load

In [94]:
# rename timestamp
df_load.rename(columns = {'timestamp':'load_time'}, inplace = True)
df_load

   user_id         day           load_time     action
0        0  2019-04-25 2019-04-25 13:30:18  page_load
1        0  2019-04-28 2019-04-28 14:30:15  page_load
2        1  2019-04-25 2019-04-25 13:40:00  page_load
3        1  2019-04-26 2019-04-26 11:15:00  page_load
4        2  2019-04-25 2019-04-25 13:41:21  page_load

### Create dataframe grouping user ID and day for page exit (consider only the earliest page_exit)

In [95]:
# make df of only page loads
df_exit = df[df['action'] == 'page_exit'].copy()

In [96]:
df_exit

    user_id           timestamp     action
6         0 2019-04-25 13:31:40  page_exit
13        1 2019-04-25 13:40:35  page_exit
22        1 2019-04-26 11:15:35  page_exit
26        0 2019-04-28 15:31:40  page_exit

In [97]:
# create 'day' column 
df_exit['day'] = df_exit['timestamp'].dt.date

In [98]:
df_exit

    user_id           timestamp     action         day
6         0 2019-04-25 13:31:40  page_exit  2019-04-25
13        1 2019-04-25 13:40:35  page_exit  2019-04-25
22        1 2019-04-26 11:15:35  page_exit  2019-04-26
26        0 2019-04-28 15:31:40  page_exit  2019-04-28

In [99]:
# Group df by user ID and date considering only the earliest page exit
df_exit = df_exit.groupby(['user_id','day'], as_index = False).min()

In [100]:
df_exit

   user_id         day           timestamp     action
0        0  2019-04-25 2019-04-25 13:31:40  page_exit
1        0  2019-04-28 2019-04-28 15:31:40  page_exit
2        1  2019-04-25 2019-04-25 13:40:35  page_exit
3        1  2019-04-26 2019-04-26 11:15:35  page_exit

In [101]:
# rename timestamp
df_exit.rename(columns = {'timestamp':'exit_time'}, inplace = True)

In [102]:
df_exit

   user_id         day           exit_time     action
0        0  2019-04-25 2019-04-25 13:31:40  page_exit
1        0  2019-04-28 2019-04-28 15:31:40  page_exit
2        1  2019-04-25 2019-04-25 13:40:35  page_exit
3        1  2019-04-26 2019-04-26 11:15:35  page_exit

### Create merged df of page loads and page exits on user_id and day

In [103]:
# Create merged df of page loads and page exits on user_id and day
merged = pd.merge(df_load,df_exit,how = 'inner', on=['user_id','day'])

In [104]:
merged

,user_id,day,load_time,action_x,exit_time,action_y
0,0,2019-04-25,2019-04-25 13:30:18,page_load,2019-04-25 13:31:40,page_exit
1,0,2019-04-28,2019-04-28 14:30:15,page_load,2019-04-28 15:31:40,page_exit
2,1,2019-04-25,2019-04-25 13:40:00,page_load,2019-04-25 13:40:35,page_exit
3,1,2019-04-26,2019-04-26 11:15:00,page_load,2019-04-26 11:15:35,page_exit

In [105]:
# Create a column to calculate difference between exit time and load time 
merged['diff'] = merged['exit_time'] - merged['load_time']

In [106]:
# Calculate each user's average session time
final = merged.groupby('user_id',as_index = False).apply(np.mean)

C:\Users\msold\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3417: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [107]:
final = final.apply(pd.to_numeric, errors='coerce')

In [109]:
final['diff'] = final['diff'] / 1000000000

In [110]:
final

   user_id    diff
0      0.0  1883.5
1      1.0    35.0